fastapi
uvicorn[standard]
python-multipart
tqdm

# PDF + docs
pymupdf==1.23.8
pymupdf4llm==0.0.6
mammoth
openpyxl
python-pptx
pdf2image
pytesseract

# OCR
paddlepaddle==2.6.2
paddleocr==2.7.0.3
opencv-python-headless
